In [219]:
import pandas as pd

In [220]:
data = pd.read_csv("test.csv", header=None)
data.head()

                         0                               1
0  04/11/2022 09:06:01.346  MSKW 33 RAKA CB Back Prot Trip
1  04/11/2022 09:11:31.918          NKDA 33 HIMA 2 CB Open
2  04/11/2022 09:34:41.939          OWFS 33 NYZA 1 CB Open
3  04/11/2022 09:36:19.609  HOMA STATION SUPPLY FAIL Fault
4  04/11/2022 09:45:38.424          OFEX 132 GTX14 CB Open

### Rename columns

In [ ]:
def clean_data():
    # rename columns
    data.columns = ['datetime', 'event']
    # filter data 
    data = data[(data.datetime != "time") | (data.event != "event") ]
    data.event = data.event.str.lower()

    # covert datetime column to datetime object. SHOULD BE DONE AFTER FILTERING. ELSE, ERRORS
    data.datetime = pd.to_datetime(data.datetime)

    data["month"] = data.datetime.dt.month_name()
    data["time"] = data.datetime.dt.time

In [221]:
data.columns = ['datetime', 'event']
data.head()

                  datetime                           event
0  04/11/2022 09:06:01.346  MSKW 33 RAKA CB Back Prot Trip
1  04/11/2022 09:11:31.918          NKDA 33 HIMA 2 CB Open
2  04/11/2022 09:34:41.939          OWFS 33 NYZA 1 CB Open
3  04/11/2022 09:36:19.609  HOMA STATION SUPPLY FAIL Fault
4  04/11/2022 09:45:38.424          OFEX 132 GTX14 CB Open

In [222]:
data = data[(data.datetime != "time") | (data.event != "event") ]

In [223]:
data.iloc[15980]

datetime               22/11/2022 07:38:17.557
event       KLAN 33 LGGO 1 CB Lockout Locked N
Name: 15981, dtype: object

In [224]:
#data.datetime = pd.to_datetime(data.iloc[:,0])
data.datetime = pd.to_datetime(data.datetime)
data.dtypes

datetime    datetime64[ns]
event               object
dtype: object

In [225]:
data["month"] = data.datetime.dt.month_name()
data["date"] = data.datetime.dt.time
data.head()

,datetime,event,month,date
0,2022-04-11 09:06:01.346,MSKW 33 RAKA CB Back Prot Trip,April,09:06:01.346000
1,2022-04-11 09:11:31.918,NKDA 33 HIMA 2 CB Open,April,09:11:31.918000
2,2022-04-11 09:34:41.939,OWFS 33 NYZA 1 CB Open,April,09:34:41.939000
3,2022-04-11 09:36:19.609,HOMA STATION SUPPLY FAIL Fault,April,09:36:19.609000
4,2022-04-11 09:45:38.424,OFEX 132 GTX14 CB Open,April,09:45:38.424000

In [226]:
data.event = data.event.str.lower()
data.head()

,datetime,event,month,date
0,2022-04-11 09:06:01.346,mskw 33 raka cb back prot trip,April,09:06:01.346000
1,2022-04-11 09:11:31.918,nkda 33 hima 2 cb open,April,09:11:31.918000
2,2022-04-11 09:34:41.939,owfs 33 nyza 1 cb open,April,09:34:41.939000
3,2022-04-11 09:36:19.609,homa station supply fail fault,April,09:36:19.609000
4,2022-04-11 09:45:38.424,ofex 132 gtx14 cb open,April,09:45:38.424000

In [227]:
#data.to_csv("clean_data.csv")

In [228]:
classify_list = ["station supply fail","trip cct fault","dc power failure","cb lockout locked","cb backup trip",
"cb back prot trip","dc fault","homa station supply fail fault"]
def classify_events(row):  
    for s in classify_list:
        if s in row:
            return "critical"

        else:
            return "normal"

In [229]:
#df = df.apply(lambda row : replace(row))
data['type'] = data['event'].apply(lambda row: classify_events(row))
data.head()

,datetime,event,month,date,type
0,2022-04-11 09:06:01.346,mskw 33 raka cb back prot trip,April,09:06:01.346000,normal
1,2022-04-11 09:11:31.918,nkda 33 hima 2 cb open,April,09:11:31.918000,normal
2,2022-04-11 09:34:41.939,owfs 33 nyza 1 cb open,April,09:34:41.939000,normal
3,2022-04-11 09:36:19.609,homa station supply fail fault,April,09:36:19.609000,critical
4,2022-04-11 09:45:38.424,ofex 132 gtx14 cb open,April,09:45:38.424000,normal

In [230]:
data.type.value_counts()

normal      15945
critical       60
Name: type, dtype: int64

In [231]:
# [i for e in bad for i in my_list if e in i]
# for i in check_list:
#     for e in classify_list:
#         if e in i:
#             my_list.append(i)

# my_list

In [232]:
ciritcal_data = data[data['type'] == 'critical']
ciritcal_data.shape

(60, 5)