## Reads raw events data from SCADA DB

In [1]:
import pandas as pd
#import pymysql
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
from datetime import datetime, timedelta

load_dotenv()

True

In [2]:
host = os.getenv("HOST")
db_username = os.getenv("DB_USERNAME")
password = os.getenv("PASSWORD")
db_name = os.getenv("LOCAL_DB")
port = os.getenv("PORT")

# engine = create_engine(f'mysql+pymysql://root:{password}@{host}/{db_name}')

In [3]:
engine = create_engine(f'mysql+pymysql://root:{password}@{host}/{db_name}')

In [4]:
past_days=37
sql_query = "SELECT * FROM scada_data WHERE DATE(datetime) = %(serach_date)s"
my_params={"serach_date":datetime.strftime(datetime.now() - timedelta(past_days), '%Y-%m-%d')}
filtered_data = pd.read_sql(sql_query,con=engine, params=my_params)

filtered_data.head()

   index            datetime                       event
0   7051 2022-11-13 00:02:38         TORO 110V DC Normal
1   7052 2022-11-13 00:02:38          TORO 48V DC Normal
2   7053 2022-11-13 00:02:38   TORO UMEME CHARGER Normal
3   7054 2022-11-13 00:26:10    KWAD 33 REAC CB Closed N
4   7055 2022-11-13 00:26:33  MASK 33 REAC 1 CB Closed N

## Combine data with substation_data