In [2]:
import json
import boto3

# server-id=1
from pymysqlreplication import BinLogStreamReader
from pymysqlreplication.row_event import (
  DeleteRowsEvent,
  UpdateRowsEvent,
  WriteRowsEvent,
)

In [3]:
from dotenv import load_dotenv
import os
from datetime import datetime, timedelta

load_dotenv()
host = os.getenv("HOST")
db_username = os.getenv("DB_USERNAME")
password = os.getenv("PASSWORD")
db_name = os.getenv("LOCAL_DB")
port = os.getenv("PORT")

In [4]:
stream = BinLogStreamReader(
connection_settings= {
    "host": host,
    "port": 3306,
    "user": db_username,
    "passwd": password},
server_id=1,
blocking=True,
resume_stream=True,
only_events=[DeleteRowsEvent, WriteRowsEvent, UpdateRowsEvent]
)

In [5]:
for binlogevent in stream:
    for row in binlogevent.rows:
      event = {"schema": binlogevent.schema,
      "table": binlogevent.table,
      "type": type(binlogevent).__name__,
      "row": row
      }
      print(event)

In [ ]:
# {"table": "Users", "row": {"values": {"Name": "Foo User", "idUsers": 123}}, "type": "WriteRowsEvent", "schema": "kinesistest"}
# {"table": "Users", "row": {"values": {"Name": "Bar user", "idUsers": 124}}, "type": "WriteRowsEvent", "schema": "kinesistest"}
# {"table": "Users", "row": {"before_values": {"Name": "Foo User", "idUsers": 123}, "after_values": {"Name": "Bar User", "idUsers": 123}}, "type": "UpdateRowsEvent", "schema": "kinesistest"}

In [1]:
import pandas as pd
#import pymysql
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os
from datetime import datetime, timedelta

load_dotenv()

True

In [2]:
host = os.getenv("HOST")
db_username = os.getenv("DB_USERNAME")
password = os.getenv("PASSWORD")
db_name = os.getenv("LOCAL_DB")
port = os.getenv("PORT")

engine = create_engine(f'mysql+pymysql://root:{password}@{host}/{db_name}')

In [4]:
data = pd.read_csv("../final_data.csv")
data.head()

,Unnamed: 0,datetime,event,date,month,weekday,time,type,substation_acronym,fault_voltage,critical level,substation name
0,0,2022-04-11 09:06:01.346,mskw 33 raka cb back prot trip,2022-04-11,April,Monday,09:06:01.346000,critical,mskw,33,3.0,masaka west
1,1,2022-04-11 12:25:43.629,mskw 33 raka cb back prot trip,2022-04-11,April,Monday,12:25:43.629000,critical,mskw,33,3.0,masaka west
2,2,2022-04-11 13:49:28.982,mskw 33 raka cb back prot trip,2022-04-11,April,Monday,13:49:28.982000,critical,mskw,33,3.0,masaka west
3,3,2022-04-11 17:18:25.427,mskw 33 raka cb back prot trip,2022-04-11,April,Monday,17:18:25.427000,critical,mskw,33,3.0,masaka west
4,4,2022-05-11 01:22:25.157,mskw 33 raka cb back prot trip,2022-05-11,May,Wednesday,01:22:25.157000,critical,mskw,33,3.0,masaka west

In [5]:
data.to_sql(name="new_data", con=engine, if_exists="append")